/**
 * VARIABLE OVERRIDES
 * -------------------------------------------------------------------
 */


$font-family-base: 'Source Sans Pro';
$font-family-headings: 'Arial';
$font-family-monospace: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
$brand-primary: #cd163f;
$brand-secondary: #666;
$header-bg: $black;
$header-border: $black;
$icon-list-hover-color: rgb(241, 138, 0); // $tangerine
$link-color: #2b7bb9;
$link-hover-color: #3b94d9;
